/* body {
  @font-face {
    font-family: "Roboto-Medium";
    src:  url("../public/fonts/Roboto-Medium.ttf") format("truetype");
  }
  
  font-family: "Roboto-Medium", sans-serif;
} */

input,
button,
.form-control,
.input-control,
.btn,
.btn-close {
  box-shadow: none !important;
  outline: none !important;
}
