.main {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

ul li .icons {
    font-size: 25px;
    color: #0256cd;
    margin: 0 60px;
    cursor: pointer;
}

ul li .label {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    color: #0256cd;
    cursor: pointer;
}

ul li .step {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #d7d7c3;
    margin: 16px 0 10px;
    display: grid;
    place-items: center;
    color: ghostwhite;
    position: relative;
    cursor: pointer;
}

.step-debut{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: ghostwhite;
    position: relative;
    cursor: pointer;
    top: -16px;
    left: 0;
}

.step::after {
    content: "";
    position: absolute;
    width: 197px;
    height: 3px;
    background-color: #d7d7c3;
    right: 28px;
}

.first::after {
    width: 0;
    height: 0;
}

ul li .step .awesome {
    display: none;
    cursor: pointer;
}

ul li .step p {
    font-size: 18px;
}

ul li .active {
    background-color: #0256cd;
}

li .active::after {
    background-color: #0256cd;

}

ul li .active p {
    display: none;
}

ul li .active .awesome {
    display: flex;
}